<!-- Service Benefits -->
<div class="main-section">
  <div class="container py-3">
    <div class="row py-2">
      <div class="container ">
        <div class="gen-cash-section d-flex justify-content-around align-items-center text-white">
          <div class="text-center">
            <h1 class="display-4 fw-bold text-info">100+</h1>
            <p class="fw-bold font-16">People Trust GenCash</p>
          </div>
          <div class="text-center">
            <h1 class="display-4 fw-bold text-info">100+</h1>
            <p class="fw-bold font-16">Average 5-Star Reviews</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>