<!-- <img src="assets/ourClientle.png" class="w-100"> -->

<div class="container py-5">
    <div class="row text-center align-items-center justify-content-center">
        <div class="col-6 col-md-2 mb-4">
            <h2 class="text-primary fw-bold">Clientle</h2>
        </div>
        <div class="col-6 col-md-2 mb-4">
            <img src="assets/clientle/IDFC-logo-website.svg" alt="IDFC First Bank" class="img-fluid">
        </div>
        <div class="col-6 col-md-2 mb-4">
            <img src="assets/clientle/Kotak_Mahindra_Group_logo.svg" alt="Kotak" class="img-fluid">
        </div>
        <div class="col-6 col-md-2 mb-4">
            <img src="assets/clientle/Suryodaylogo_1_1_a157d376fe.webp" alt="Suryoday" class="img-fluid">
        </div>
        <div class="col-6 col-md-2 mb-4">
            <img src="assets/clientle/Sab-Paisa-small.png" alt="SabPaisa" class="img-fluid">
        </div>
        <div class="col-6 col-md-2 mb-4">
            <img src="assets/clientle/phonepe_logo.svg" alt="phonepe_logo" class="img-fluid">
        </div>
    </div>
</div>