<div class="main-section bg-dark-blue text-white py-5">
    <div class="container">
        <div class="row align-items-center">

            <!-- Left Form Column -->
            <div class="col-md-8">
                <h1 class="mb-4 fw-bold" style="font-size: 40px;">Get in Touch</h1>
                <form [formGroup]="contactUsGroup">
                    <div class="form-group mb-3">
                        <input nz-input class="form-control custom-input" formControlName="name"
                            placeholder="Full Name*" />
                        <div *ngIf="contactUsGroup.get('name')?.invalid && contactUsGroup.get('name')?.touched"
                            class="text-danger">
                            <small *ngIf="contactUsGroup.get('name')?.errors?.['required']">Name is required.</small>
                            <small *ngIf="contactUsGroup.get('name')?.errors?.['minlength']">Name must be at least 3
                                characters.</small>
                        </div>

                    </div>

                    <div class="form-group mb-3">
                        <input nz-input class="form-control custom-input" formControlName="company"
                            placeholder="Company Name*" />
                        <div *ngIf="contactUsGroup.get('company')?.invalid && contactUsGroup.get('company')?.touched"
                            class="text-danger">
                            <small *ngIf="contactUsGroup.get('company')?.errors?.['required']">Company name is
                                required.</small>
                            <small *ngIf="contactUsGroup.get('company')?.errors?.['company']">Invalid company name
                                format.</small>
                        </div>
                    </div>

                    <div class="form-row d-flex justify-content-between mb-3">
                        <input nz-input type="email" class="form-control custom-input me-2" style="width: 49%;"
                            formControlName="email" placeholder="Email*" />
                        <br>
                        <div *ngIf="contactUsGroup.get('email')?.invalid && contactUsGroup.get('email')?.touched"
                            class="text-danger">
                            <small *ngIf="contactUsGroup.get('email')?.errors?.['required']">Email is required.</small>
                            <small *ngIf="contactUsGroup.get('email')?.errors?.['email']">Invalid email format.</small>
                        </div>
                        <input nz-input type="text" class="form-control custom-input" style="width: 49%;"
                            formControlName="mobile" placeholder="Mobile*" />
                        <br>
                        <div *ngIf="contactUsGroup.get('mobile')?.invalid && contactUsGroup.get('mobile')?.touched"
                            class="text-danger">
                            <small *ngIf="contactUsGroup.get('mobile')?.errors?.['required']">Mobile number is
                                required.</small>
                            <small *ngIf="contactUsGroup.get('mobile')?.errors?.['email']">Invalid mobile
                                number.</small>
                        </div>
                    </div>

                    <div class="form-group mb-4">
                        <textarea nz-input class="form-control custom-input" rows="4" formControlName="query"
                            placeholder="Query*"></textarea>
                        <div *ngIf="contactUsGroup.get('query')?.invalid && contactUsGroup.get('query')?.touched"
                            class="text-danger">
                            <small *ngIf="contactUsGroup.get('query')?.errors?.['required']">Query is required.</small>
                            <small *ngIf="contactUsGroup.get('query')?.errors?.['minlength']">Query must be at least 10
                                characters.</small>
                        </div>
                    </div>

                    <div>
                        <button nz-button nzType="primary" 
                            (click)="onSubmit()" [disabled]="contactUsGroup.invalid">Submit</button>
                    </div>
                </form>
            </div>

            <!-- Right Image Column -->
            <div class="col-md-4 text-center">
                <img src="assets/get_in_touch.png" class="img-fluid mailbox-img w-100 h-100"
                    alt="Mailbox Image" />
            </div>
        </div>
    </div>
</div>