<div class="upi-switch-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex justify-content-center align-items-center upi-switch-img">
        <img src="assets/test.png" alt="Left Image" class="media-gif">
      </div>
      <!-- <div class="col-md-8 upi-switch-gif">
        <img src="assets/upi-switch.gif" alt="Right GIF" class="media-gif">
      </div> -->
      <div class="col-md-8 upi-switch-gif d-flex justify-content-center align-items-center position-relative">
        <div class="position-relative">
          <img src="assets/upi-switch.gif" alt="Right GIF" class="media-gif gif2">
          <img src="assets/our-services/npci_certified.png" alt="Overlay Icon" class="bottom-right-icon">
        </div>
      </div>
      
    </div>
  </div>
</div>