<!-- Service Benefits -->
<div class="main-section">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-12">
                <p style="margin-bottom: 0px;">
                    At GenCash, we redefine the way India transacts, providing comprehensive financial services for the
                    inclusive and sustainable growth of individuals, SMEs, and enterprises nationwide
                </p>
            </div>
        </div>
        <div class="row py-2">
            <div class="container ">
                <div class="row">
                    <div class="col-md-4 col-lg-4 position-relative mt-3">
                        <div class="info-card">
                            <h5 class="card-title2 mb-1 text-center">Benefits to Co-operative Banks</h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 position-relative mt-3">
                        <div class="info-card">
                            <h5 class="card-title2 mb-1 text-center">Point of Sale (POS) Terminals </h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 position-relative mt-3">
                        <div class="info-card">
                            <h5 class="card-title2 mb-1 text-center">KYC solutions </h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 position-relative mt-3">
                        <div class="info-card">
                            <h5 class="card-title2 mb-1 text-center">Marketing and Outreach </h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 position-relative mt-3">
                        <div class="info-card">
                            <h5 class="card-title2 mb-1 text-center">API Integrations Solutions </h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 position-relative mt-3">
                        <div class="info-card">
                            <h5 class="card-title2 mb-1 text-center">Payout Connected Banking </h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 position-relative mt-3">
                        <div class="info-card">
                            <h5 class="card-title2 mb-1 text-center">Soundbox Machines </h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 position-relative mt-3">
                        <div class="info-card">
                            <h5 class="card-title2 mb-1 text-center">UPI QR solutions</h5>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>